<!DOCTYPE html>
<html>
<head>
  <style> <%- styles %> </style>
</head>
<body>
  <!-- html-pdf only renders images in headers if they exist in the body. And sorry about the base64, it's horrible i know -->
  <img style="display: none" class="reaktor" src='data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 776.76428 179.19994" height="179.2" width="776.764"><defs><clipPath id="a"><path d="M604.203 1004.05c0-77.527-58.262-131.984-168.09-131.984H271.34v260.614h164.773c109.828 0 168.09-51.11 168.09-128.63zm351.203-791.761l-291.32 479.977c118.223 57.742 203.078 161.621 203.078 323.314 0 235.87-193.059 374.42-422.726 374.42H10V212.289h261.34v423.914h134.797l256.332-423.914h292.937zm651.434 509.688h-379.48c11.71 72.562 83.23 150.089 189.74 150.089 108.2 0 179.8-75.921 189.74-150.089zm231.36-171.551c3.32 19.785 5.01 59.351 5.01 89.062 0 240.825-174.79 440.402-432.74 440.402-251.32 0-434.365-197.968-434.365-442.081 0-278.715 213.025-448.661 442.685-448.661 154.76 0 296.26 82.493 379.49 202.868l-198.07 102.273c-41.61-49.422-98.18-87.379-178.1-87.379-101.5 0-176.41 61.028-189.75 143.516h605.84zm678.18-16.496c0-24.746 0-34.676-11.64-56.137-31.6-57.672-126.47-85.777-184.74-85.777-63.27 0-121.53 19.855-121.53 79.207 0 75.847 91.56 92.343 159.84 107.238 76.53 16.496 106.51 21.461 158.07 31.316V533.93zm-1.62-321.641h237.99v524.508c0 173.226-113.21 344.773-377.87 344.773-239.61 0-361.15-140.226-392.75-240.824l228.05-44.601c19.96 37.96 74.84 77.527 153.06 77.527 94.87 0 151.52-49.422 151.52-100.594-49.94-6.57-248.01-39.566-299.64-49.496-151.44-29.637-267.98-113.805-267.98-273.82 0-145.125 128.17-257.328 294.64-257.328 114.83 0 193.06 39.64 261.27 107.238h11.71v-87.383zm934.21 506.039l314.37 338.502h-307.89l-271.28-285.357v608.967h-244.7V210.613h244.7v221.043l91.56 98.989 1.54 1.679 316.07-520.785h289.55l-433.92 706.789zm700.42-530.785c101.57 0 186.72 24.746 211.69 32.926v206.222c-14.95-4.964-80.21-16.496-136.78-16.496-79.85 0-114.84 52.778-114.84 131.985v311.707h236.67v199.583h-236.67v213.82h-244.69V471.223c0-169.871 119.84-283.68 284.62-283.68zm958.3 453.184c0-143.153-91.27-233.598-209.12-233.598-117.86 0-209.12 90.445-209.12 233.598 0 141.476 99.59 226.957 209.12 226.957s209.12-85.481 209.12-226.957zm237.4 0c0 246.742-195.86 440.843-446.52 440.843-248.96 0-446.44-194.101-446.44-440.843 0-281.266 217.44-449.094 446.44-449.094 230.7 0 446.52 167.828 446.52 449.094zm640.02 189.144v251.699c-119.48 0-225.69-74.02-257.29-123.367v98.697h-243.96V214.699h243.96v407.926c0 138.188 104.59 207.246 257.29 207.246z" clip-rule="evenodd"/></clipPath><clipPath id="b"><path d="M0 0h6000v1400H0V0z"/></clipPath></defs><g clip-path="url(#a)" transform="matrix(.13 0 0 -.13 -1.3 180.7)"><g clip-path="url( #b)"><path d="M0 0h6035.11v1440H0V0z"/></g></g></svg>
'/>
  <div id="whole-cv">
    <div class="cv" id="first-section">
      <img class="face" src='https://cdn.rex.reaktor.cloud/people/400x500/<%= userID %>.jpg' />
      <h1><%- name %></h1>
      <%- firstSection %>
    </div>
    <% for (let i = 0; i < otherSections.length; i += 1) {%>
      <div class="cv"<%= i === otherSections.length - 1 ? 'id=last-section' : '' %>>
        <%- otherSections[i] %>
      </div>
    <% } %>
  </div>
</body>
</html>
